db:
    config: sslmode=disable TimeZone=Asia/Shanghai
    dbname: postgres
    host: 127.0.0.1
    password: postgres
    port: 5432
    user: postgres
exchanges:
    - api-key: 123456
      base-url: https://fapi.binance.com
      enabled: true
      name: binance_future
      secret-key: 123456
      update-kline: true
mahakala:
    kline-interval: 30m
    max-update-routine: 100
