db:
    config: sslmode=disable TimeZone=Asia/Shanghai
    default-db-name: mahakala
    host: 127.0.0.1
    initial-db-name: postgres
    password: postgres
    port: 5432
    user: postgres
exchanges:
    - base-url: https://fapi.binance.com
      enabled: true
      meta-data:
        api-key: 123456
        secret-key: 123456
      name: binance_future
mahakala:
    analyze-amount: 500
    kline-interval: 30m
    max-update-routine: 100
    port: 9999
    update-kline: true
